body {
	background-color:white;

}
	


#container {
	margin: 0 auto;
	width:860px;
	padding:30px 30px 0 30px;
	background-color:white;
	overflow:auto;
}



@font-face {
	font-family: karlie_dog;
	src: url("images/din-regular-webfont.woff");
}
	
.header1 {
	font-family: karlie_dog;
	line-height:28px;
	color:#6F6E6E;
	font-weight:bold;
	letter-spacing:1px;
	font-size: 16px;
}
	
.header2 {
	font-family: 'Alegreya Sans', sans-serif;
	font-size: 14px;
	font-weight: 400;
	letter-spacing: 0.5px;
	color:#939393;
	line-height:19px;
}
	
	
img { 
	max-width: 100% 
}

.imagebox {
	padding-top:20px;
	
}



@media screen and (max-width:1200px) { /*DESKTOP*/
	#container {
	width:760px;
}
	
	
@media screen and (max-width:820px) { /*TABLET*/
	#container {
	width:600px;
}
	
	
@media screen and (max-width:520px) { /*MOBILE*/
	#container {
	width:90%;
}